.block[data-block="items.2"] {
  .block-title {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 16px;
    text-align: center;
    text-transform: uppercase;
  }

  .block-items {}
  .block-item {}

  .block-item-wrapper {
    padding: 0 30px;
  }

  .block-item-picture {
    position: relative;
  }

  .owl-stage {
    margin-left: -156px;
  }

  .block-item-picture-wrapper {
    @include background-cover();

    padding-top: 100%;
    position: relative;
  }

  .block-item-information {}

  .block-item-title {
    font-weight: bold;
  }

  .block-item-description {
    font-weight: 300;
  }

  .block-item-title,
  .block-item-description {
    color: #a5a5a5;
    font-size: 14px;
    line-height: 24px;
    margin-top: 16px;
    text-align: center;
  }

  @include breakpoint-tablet() {
    .block-item-wrapper {
      padding: 0;
    }

    .owl-stage {
      margin-left: 0;
    }
  }

  @include breakpoint-mobile() {
    .block-item {
      width: 100%;
    }
  }
}