.block[data-block="video.1"] {
  .block-video {
    cursor: pointer;
    position: relative;
  }

  .block-video-wrapper {
    padding-top: 56%;
    position: relative;
  }

  .block-video-wrapper-2 {
    @include background-cover();
    @include flex();
    @include flex-align(center, center);
    @include flex-wrap(none);
    @include overlay();

    position: absolute;
  }

  .block-video-icon {
    @include flex-item-auto();

    background-image: url('resources/icons/youtube.play.1.svg');
    height: 48px;
    width: 58px;
  }

  .block-title {
    color: #a5a5a5;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 16px;
    text-align: center;
  }
}
