.control[data-control="select"] {
  background-color: #{$color-palette-white};
  border: 1px solid #{$color-background-1};
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 26px;
  outline: none;
  padding: 8px 15px;

  &[data-control-block="true"] {
    display: block;
    width: 100%;
  }
}
