.page[data-page="main"] {
  .block-header {
    text-align: center;
  }

  .block-header-title {
    font-weight: 500;
    font-size: 38px;
    letter-spacing: 3px;
    line-height: 44px;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  .block-header-line {
    background-color: #{$color-accent};
    height: 2px;
    margin: 0 auto;
    width: 70px;
  }

  .block[data-block="banner"] {
    .block-slide {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      color: #{$color-palette-white};
      display: block;
      position: relative;
      text-align: center;
    }

    .block-slide-overlay {
      @include overlay();

      background-color: #{$color-palette-black};
      opacity: 0.5;
      position: absolute;
    }

    .block-slide-content {
      position: relative;
    }

    .block-slide-content-wrapper {}

    .block-slide-information {
      padding-bottom: 90px;
      padding-top: 220px;
    }

    @at-root %block--main-banner--slide-information-part {
      margin: 0 auto;
    };

    .block-slide-title {
      @extend %block--main-banner--slide-information-part;

      font-size: 38px;
      font-weight: 500;
      letter-spacing: 3px;
      line-height: 44px;
      margin-bottom: 24px;
      text-transform: uppercase;
      width: 640px;
    }

    .block-slide-line {
      @extend %block--main-banner--slide-information-part;

      background-color: #{$color-palette-white};
      height: 2px;
      width: 70px;
    }

    .block-slide-description {
      @extend %block--main-banner--slide-information-part;

      font-size: 16px;
      line-height: 30px;
      margin-top: 24px;
      text-align: center;
      text-transform: lowercase;
      width: 300px;
    }

    .block-slide-advantages {
      @include flex();
      @include flex-align(between, start);
      @include flex-wrap(wrap);

      margin: -24px 0;
      overflow: hidden;
      padding-bottom: 90px;
    }

    .block-slide-advantage {
      @include flex-item-auto();
      @include flex();
      @include flex-align(center, start);
      @include flex-wrap(none);

      padding: 24px 0;
    }

    .block-slide-advantage-wrapper {
      width: 225px;
    }

    .block-slide-advantage-title {
      font-size: 36px;
      line-height: 44px;
      text-transform: uppercase;
    }

    .block-slide-advantage-description {
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 26px;
      margin-top: 16px;
      text-transform: uppercase;
    }

    .block-slide-advantage-line {
      background-color: #{$color-palette-white};
      height: 1px;
      margin: 16px auto 0 auto;
      width: 88px;
    }

    .block-slide-arrow {
      @extend %helper-icon;

      padding-bottom: 40px;
    }

    @include breakpoint-tablet() {
      .block-slide-information {
        padding-bottom: 56px;
        padding-top: 100px;
      }

      .block-slide-advantages {
        padding-bottom: 56px;
      }

      .block-slide-advantage {
        width: 50%;
      }

      .block-slide-advantage-wrapper {
        width: 305px;
      }
    }

    @include breakpoint-mobile() {
      .block-slide-content {
        padding: 0 15px;
      }

      .block-slide-information {
        padding-bottom: 32px;
        padding-top: 40px;
      }

      .block-slide-title {
        font-size: 26px;
        line-height: 34px;
        width: 345px;
      }

      .block-slide-description {
        width: 345px;
      }

      .block-slide-advantages {
        padding-bottom: 32px;
      }

      .block-slide-advantage {
        width: 100%;
      }

      .block-slide-advantage-wrapper {
        width: 345px;
      }
    }
  }

  %block--main-text {
    padding-top: 72px;

    .block-header {
      margin-bottom: 40px;
    }

    .block-text {
      font-size: 16px;
      line-height: 30px;
      margin: 0 auto;
      padding: 0 48px;
      text-align: center;
      max-width: 900px;
    }

    .block-buttons {
      @include flex();
      @include flex-align(center, start);

      padding-top: 40px;
    }

    .block-button {
      @include flex-item-auto();
      @include flex-shrink(1);
    }

    @include breakpoint-mobile() {
      .block-text {
        padding: 0 15px;
      }

      .block-buttons {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }

  .block[data-block="distribution"] {
    @extend %block--main-text;

    .block-partners {
      margin-top: 56px;
      position: relative;
    }

    .block-partners-background {
      @include overlay();

      position: absolute;
    }

    @at-root %block--main-distribution--partners-background-part {
      @include sides(0, auto, 0, auto);
      @include size(50%, 100%);

      position: absolute;
    }

    .block-partners-background--left {
      @extend %block--main-distribution--partners-background-part;

      background-color: #{$color-background-2};
      left: 0;
    }

    .block-partners-background--right {
      @extend %block--main-distribution--partners-background-part;

      background-color: #{$color-background-4};
      right: 0;
    }

    .block-partners-content {
      position: relative;
      padding: 64px 0 115px 0;
    }

    .block-partners-content-wrapper {
      @include flex();
      @include flex-align(start, start);
    }

    @at-root %block--main-distribution--partners-side {
      @include flex-item-auto();

      width: 50%;
    }

    .block-partners--left {
      @extend %block--main-distribution--partners-side;
    }

    .block-partners--right {
      @extend %block--main-distribution--partners-side;
    }

    .block-partners-header {
      margin-bottom: 64px;
    }

    .block-partners-title {
      font-size: 18px;
      font-weight: bold;
      line-height: 24px;
      margin-bottom: 40px;
      text-align: center;
    }

    .block-partners-line {
      background-color: #{$color-accent};
      height: 2px;
      margin: 0 auto;
      width: 70px;
    }

    .block-partners-items {
      @include flex();
      @include flex-align(between, center);
      @include flex-wrap(wrap);

      margin: -20px 0;
      overflow: hidden;
      padding: 0 56px;
    }

    .block-partners-item {
      @include flex-item-auto();
      @include flex();
      @include flex-align(center, center);
      @include flex-wrap(none);

      padding: 20px 0;
    }

    .block-partners-item-wrapper {
      position: relative;
      width: 128px;
    }

    .block-partners-item-wrapper-2 {
      padding-top: 64%;
      position: relative;
    }

    .block-partners-item-wrapper-3 {
      @extend %helper-icon;
      @include overlay();

      position: absolute;
    }

    @include breakpoint(1420px) {
      .block-partners-item-wrapper {
        width: 104px;
      }
    }

    @include breakpoint-mobile() {
      .block-partners-content {
        padding-bottom: 105px;
      }

      .block-partners-item {
        width: 50%;
      }
    }

    @include breakpoint-tablet() {
      .block-partners-content {
        padding-bottom: 60px;
        padding-top: 56px;
      }

      .block-partners-items {
        margin: -12px 0;
      }

      .block-partners-item {
        padding: 12px 0;
        width: 100%;
      }
    }
  }

  .block[data-block="franchise"] {
    @extend %block--main-text;

    padding-bottom: 72px;

    .block-franchises {
      margin: 56px auto 0 auto;
      max-width: 1000px;
    }

    .block-franchises-items {
      margin: -24px 0;
      overflow: hidden;
    }

    .block-franchises-item {
      @include flex();
      @include flex-align(start, center);
      @include flex-wrap(none);

      padding: 24px 0;
    }

    @at-root %block--main-franchise--item-part {
      @include flex-item-auto();

      width: 50%;
    }

    .block-franchises-item-picture {
      @extend %block--main-franchise--item-part;

      display: block;

      & + .block-franchises-item-information {
        padding-left: 56px;
        padding-right: 0;
      }
    }

    .block-franchises-item-picture-wrapper {
      @include background-contain();

      display: block;
      padding-top: 70%;
    }

    .block-franchises-item-information {
      @extend %block--main-franchise--item-part;

      padding-right: 56px;
    }

    .block-franchises-item-title {
      color: inherit;
      display: block;
      font-size: 26px;
      font-weight: 500;
      letter-spacing: 2px;
      line-height: 34px;
      text-transform: uppercase;

      span {
        &:first-child {
          color: #{$color-accent};
        }
      }
    }

    .block-franchises-item-description {
      color: #{$color-palette-black};
      font-size: 16px;
      line-height: 30px;
      margin-top: 16px;
    }

    @include breakpoint(1050px) {
      .block-franchises-item-picture {
        & + .block-franchises-item-information {
          padding-left: 24px;
          padding-right: 48px;
        }
      }

      .block-franchises-item-information {
        padding-right: 24px;
        padding-left: 48px;
      }
    }

    @include breakpoint-mobile() {
      .block-franchises {
        padding: 0 15px;
      }

      .block-franchises-item {
        @include flex-wrap(wrap);
      }

      .block-franchises-item-picture,
      .block-franchises-item-information {
        width: 100%;
      }

      .block-franchises-item-picture {
        @include flex-order(0);

        & + .block-franchises-item-information {
          padding: 24px 0 0 0;
        }
      }

      .block-franchises-item-information {
        @include flex-order(1);

        padding: 24px 0 0 0;
      }
    }
  }

  .block[data-block="education"] {
    background-color: #{$color-background-1};
    padding: 72px 0;

    .block-description {
      color: #{$color-palette-black};
      font-size: 16px;
      line-height: 30px;
      margin: 40px auto 0 auto;
      max-width: 900px;
      text-align: center;
    }

    .block-franchise {
      @include flex();
      @include flex-align(start, end);
      @include flex-wrap(wrap);

      margin: 56px auto 0 auto;
      max-width: 1000px;
    }

    @at-root %block--main-education--franchise-part {
      @include flex-item-auto();

      width: 50%;
    }

    .block-franchise-picture {
      @extend %block--main-education--franchise-part;
    }

    .block-franchise-picture-wrapper {
      @include background-cover();

      padding-top: 70%;
    }

    .block-franchise-information {
      @extend %block--main-education--franchise-part;

      padding-left: 56px;
    }

    .block-franchise-title {
      font-size: 26px;
      font-weight: 500;
      letter-spacing: 2px;
      line-height: 34px;
      text-transform: uppercase;
    }

    .block-franchise-description {
      font-size: 16px;
      line-height: 30px;
      margin-top: 16px;
    }

    .block-buttons {
      @include flex();
      @include flex-align(center, start);

      padding-top: 56px;
    }

    .block-button {
      @include flex-item-auto();
      @include flex-shrink(1);
    }

    @include breakpoint(1050px) {
      .block-franchise-picture {
        padding-right: 12px;
      }

      .block-franchise-information {
        padding-left: 12px;
        padding-right: 48px;
      }
    }

    @include breakpoint-mobile() {
      padding: 56px 15px;

      .block-franchise {
        margin-top: 32px;
      }

      %block--main-education--franchise-part {
        padding: 0;
        width: 100%;
      }

      .block-franchise-information {
        padding-top: 24px;
      }

      .block-buttons {
        padding-top: 32px;
      }
    }
  }

  .block[data-block="quality"] {
    background-color: #{$color};
    margin-bottom: -75px;
    padding-top: 88px;

    .block-header-title {
      color: #{$color-palette-white};
      padding: 0 15px;
    }

    .block-description {
      color: #{$color-palette-white};
      font-size: 16px;
      line-height: 30px;
      margin: 40px auto 0 auto;
      max-width: 900px;
      padding: 0 15px;
      text-align: center;
    }

    .block-franchise {
      @include flex();
      @include flex-align(start, stretch);
      @include flex-wrap(wrap);

      margin: 56px auto 0 auto;
      max-width: 1000px;
    }

    .block-franchise-picture {
      @include flex-item-auto();

      width: calc(100% - 400px);
    }

    .block-franchise-picture-wrapper {
      @include background-cover();

      height: 100%;
      padding-top: 87%;
    }

    .block-franchise-information {
      @include flex-item-auto();

      background-color: #{$color-palette-white};
      padding: 56px 24px;
      width: 400px;
    }

    .block-franchise-slider {
      padding: 0 56px;
    }

    .block-franchise-slider-wrapper {}
    .block-franchise-slider-content {}

    .block-franchise-slide {
      color: #{$color-palette-black};
    }

    .block-franchise-slide-icon {
      @extend %helper-icon;
      @include flex-align-horizontal(start);

      height: 22px;
      margin-bottom: 24px;
    }

    .block-franchise-slide-title {
      font-size: 18px;
      font-weight: bold;
      line-height: 24px;
    }

    .block-franchise-slide-description {
      font-size: 16px;
      line-height: 30px;
      margin-top: 24px;
    }

    .block-franchise-slide-buttons {
      margin-top: 24px;
    }

    .block-franchise-slide-button {}
    .block-franchise-slider-navigation {}
    .block-franchise-slider-navigation-wrapper {}

    .block-franchise-slider-navigation-button {
      @extend %helper-icon;

      height: 48px;
      width: 48px;
    }

    @include breakpoint-tablet() {
      margin-bottom: 0;
    }

    @include breakpoint-mobile() {
      padding-top: 48px;

      .block-franchise-picture,
      .block-franchise-information {
        width: 100%;
      }

      .block-franchise-information {
        padding: 32px 0;
      }
    }
  }

  .block[data-block="team"] {
    background-color: #{$color-background-1};
    padding: 165px 0 72px 0;

    .block-header-title {
      color: #{$color-palette-black};
      padding: 0 15px;
    }

    .block-slider {
      margin-top: 56px;
    }

    .block-slider-wrapper {}
    .block-slider-content {}

    .block-slide {
      text-align: center;
    }

    .block-slide-picture {
      padding-top: 74%;
      position: relative;
    }

    .block-slide-picture-wrapper {
      @include background-cover();
      @include overlay();

      position: absolute;
    }

    .block-slide-information {
      padding: 32px 24px 24px 24px;

      background: #{$color-palette-white};
    }

    .block-slide-title {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 30px;
      text-transform: uppercase;
    }

    .block-slide-description {
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 22px;
      opacity: 0.5;
      text-transform: uppercase;
    }

    .block-buttons {
      @include flex();
      @include flex-align(center, start);

      padding-top: 48px;
    }

    .block-button {
      @include flex-item-auto();
      @include flex-shrink(1);
    }

    @include breakpoint-tablet() {
      padding: 72px 0;
    }

    @include breakpoint-mobile() {
      padding: 56px 0;
    }
  }

  @include breakpoint-mobile() {
    .block-header-title {
      font-size: 26px;
      line-height: 34px;
    }
  }
}