@mixin background-contain () {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin background-cover () {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin breakpoint-mobile () {
  @include breakpoint($mobile-breakpoint) {
    @content
  }
}

@mixin breakpoint-tablet () {
  @include breakpoint($tablet-breakpoint) {
    @content
  }
}
