// Помошники

@mixin helper-icon ($inline: false) {
  @include flex($inline);
  @include flex-align-horizontal(center);
  @include flex-align-vertical(center);
  @include flex-wrap(none);

  img, svg {
    display: block;
    max-height: 100%;
    max-width: 100%;
  }
}

%helper-icon {
  @include helper-icon();
}

%helper-icon--inline {
  @include helper-icon(true);
}

@mixin helper-masked-link () {
  color: inherit;
  cursor: default;
  text-decoration: none;
}

%helper-masked-link {
  @include helper-masked-link();
}
