$color: #282d46;
$color-accent: #fe2e3e;
$color-accent-light-1: lighten($color-accent, 10);
$color-background-1: #e9e3e3;
$color-background-2: #dfd4d2;
$color-background-3: #cbc0be;
$color-background-4: #dcdcdc;
$color-background-5: #cdcdcd;
$color-background-6: #aca0a2;
$color-palette-black: #000;
$color-palette-white: #fff;
$minimal-width: 375px;
$transition-time: 350ms;

$mobile-breakpoint: 768px;
$tablet-breakpoint: 1320px;