// Общие стили шаблона

.template {
  overflow: hidden;
  z-index: 0;
}

.template,
.template-delimiter-wrap {
  min-width: $minimal-width;
}

.template-delimiter {
  margin: 0 auto;
  max-width: 1680px;
  padding-left: 75px;
  padding-right: 75px;
}

.template-delimiter-wrapper {}

.template-header {
  height: 130px;
  position: relative;
}

.template-header-background {
  @include sides(0, auto, 0, 0);
  @include size(50%, auto);

  background-color: #{$color-background-1};
  position: absolute;
}

.template-header-container {
  height: 100%;
  position: relative;
}

.template-header-container-wrapper {
  @include flex();
  @include flex-align(start, stretch);

  height: 100%;
  position: relative;
}

%template-header-side {
  @include flex();

  height: 100%;
}

.template-header--left {
  @extend %template-header-side;
  @include flex-item-auto();
  @include flex-align(start, center);

  background-color: #{$color-background-1};
  height: 100%;
  padding-right: 28px;
  width: 880px;
}

.template-header--right {
  @extend %template-header-side;
  @include flex-item-full();
  @include flex-align(end, center);

  padding-left: 50px;
}

.template-header-sidebar {
  @include flex-item-auto();

  display: none;
  padding-right: 40px;
}

.template-header-sidebar-button {
  @extend %helper-icon;
}

.template-header-logotype {
  @extend %helper-icon;
  @extend %helper-masked-link;

  width: 182px;
  cursor: pointer;

  img {
    margin-bottom: 16px;
  }
}

.template-header-menu {
  padding-left: 80px;
}

.template-header-menu-items {
  @include flex();
  @include flex-align(start, center);

  margin: 0 -16px;
}

.template-header-menu-item {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 16px;
  padding: 0 16px;
  text-transform: uppercase;
}

.template-header-menu-item-wrapper {
  @extend %helper-masked-link;
  @include transition($transition-time, (color));

  cursor: pointer;

  &:hover {
    color: #{$color-accent};
  }
}

%template-header-part {
  @include flex();
  @include flex-align(start, center);
  @include flex-wrap(none);
}

%template-header-part-icon {
  @extend %helper-icon;
  @extend %helper-masked-link;

  @include flex-item-auto();
  @include size(32px, 32px);
}

%template-header-part-text {
  @extend %helper-masked-link;

  @include flex-item-auto();

  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.template-header-phone {
  @extend %template-header-part;

  padding-right: 56px;
}

.template-header-phone-icon {
  @extend %template-header-part-icon;
}

.template-header-phone-text {
  @extend %template-header-part-text;

  cursor: pointer;
  padding-left: 22px;
}

.template-header-profile {
  @extend %template-header-part;

  padding-right: 26px;
}

.template-header-profile-icon {
  @extend %template-header-part-icon;
}

.template-header-profile-text {
  @extend %template-header-part-text;

  padding-left: 8px;
}

.template-header-basket {
  @extend %template-header-part;

  position: relative;
}

.template-header-basket-icon {
  @extend %template-header-part-icon;
}

.template-header-basket-icon-counter {
  @include border-radius(50%);
  @include flex();
  @include flex-align(center, center);
  @include flex-wrap(none);
  @include sides(6px, -1px);
  @include size(14px, 14px);

  background-color: #{$color-accent};
  color: #{$color-palette-white};
  font-size: 10px;
  font-weight: 500;
  line-height: 10px;
  position: absolute;
}

.template-header-basket-icon-counter-text {}

.template-content {}

.template-layout {
  &[data-template-layout="columns"] {
    @include flex();
    @include flex-align(start, start);
    @include flex-wrap(none);

    .template-layout-column {
      position: relative;
      width: calc(100% - 262px);

      &:first-child {
        padding-right: 48px;
        width: 262px;
      }
    }
  }
}

.template-cookies {
  @include sides(auto, 16px, 16px, 16px);

  background-color: #{$color-background-1};
  display: none;
  padding: 24px;
  position: fixed;
  z-index: 1;

  &[data-active="true"] {
    display: block;
  }
}

.template-cookies-close {
  @extend %helper-icon;
  @include sides(-48px, 0, auto, auto);
  @include size(48px, 48px);

  cursor: pointer;
  position: absolute;
}

.template-cookies-title {
  font-size: 18px;
  line-height: 28px;
}

.template-cookies-content {
  @include flex();
  @include flex-align(start, start);
  @include flex-wrap(wrap);

  margin-top: 16px;
}

.template-cookies-text {
  @include flex-item-full();

  font-size: 16px;
  line-height: 30px;
  max-width: calc(100% - 190px);
  padding-right: 24px;
}

.template-cookies-control {
  @include flex-item-auto();
}

.template-footer {}
.template-footer-content {}

.template-footer-content-wrapper {
  position: relative;
  padding-bottom: 72px;
}

.template-footer-line {
  background-color: #{$color-background-1};
  height: 1px;
}

.template-footer-top {
  @include flex();
  @include flex-align(start, start);
  @include flex-wrap(wrap);

  margin-top: 56px;
  padding-left: 262px;
}

.template-footer-information {
  @include flex-item-auto();

  width: 450px;
}

.template-footer-information-items {
  margin: -6px 0;
}

.template-footer-information-item {
  padding: 6px 0;
}

.template-footer-information-item-wrapper {
  @include flex();
  @include flex-align(start, center);
  @include flex-wrap(none);

  color: inherit;
}

.template-footer-information-item-icon {
  @extend %helper-icon;
  @include flex-item-auto();

  width: 18px;
  height: 18px;

  & + .template-footer-information-item-text {
    padding-left: 16px;
  }
}

.template-footer-information-item-text {
  @include flex-item-auto();

  display: block;
  font-size: 14px;
  line-height: 22px;
  width: calc(100% - 18px);
}

.template-footer-menu {
  padding-left: 56px;
  width: calc(100% - 450px)
}

.template-footer-menu-items {
  @include flex();
  @include flex-align(start, start);
  @include flex-wrap(wrap);

  margin: -6px -12px;
}

.template-footer-menu-item {
  @include flex-item-auto();

  padding: 6px 12px;
  width: 50%;
}

.template-footer-menu-item-wrapper {
  color: inherit;
  font-size: 14px;
  line-height: 22px;
}

.template-footer-partners {
  margin-top: 32px;
  padding-left: 262px;
}

.template-footer-partners-items {
  @include flex();
  @include flex-align(start, center);
  @include flex-wrap(wrap);

  margin: 0 -21px;
}

.template-footer-partners-item {
  @include flex-item-auto();

  opacity: 0.5;
  padding: 26px 21px;
  max-width: 118px;
}

.template-footer-partners-item-wrapper {
  @extend %helper-icon;
}

.template-footer-policies {
  margin-top: 32px;
  padding-left: 262px;
}

.template-footer-policies-items {
  @include flex();
  @include flex-align(start, start);
  @include flex-wrap(wrap);

  margin: -8px -16px;
}

.template-footer-policies-item {
  padding: 8px 16px;
}

.template-footer-policies-item-wrapper {
  color: #a5a5a5;
  display: block;
  font-size: 12px;
  line-height: 22px;
}

@include breakpoint-tablet() {
  .template-delimiter {
    padding-left: 48px;
    padding-right: 48px;
  }

  .template-header {
    height: 122px;
  }

  .template-header-background {
    width: 48px;
  }

  .template-header--left {
    @include flex-item-full();

    width: auto;
  }

  .template-header--right {
    @include flex-item-auto();
  }

  .template-header-sidebar {
    display: block;
  }

  .template-header-menu {
    display: none;
  }

  .template-layout {
    &[data-template-layout="columns"] {
      .template-layout-column {
        width: 100%;

        &:first-child {
          display: none;
        }
      }
    }
  }

  .template-footer-information {
    width: 240px;
  }

  .template-footer-menu {
    width: calc(100% - 240px);
  }

  .template-footer-top,
  .template-footer-partners,
  .template-footer-policies {
    padding-left: 0;
  }
}

@include breakpoint-mobile() {
  .template-delimiter {
    padding-left: 15px;
    padding-right: 15px;
  }

  .template-header {
    height: 93px;
  }

  %template-header-side {
    padding-bottom: 18px;
  }

  .template-header--left {
    @include flex-shrink(1);

    padding-left: 14px;
  }

  .template-header--right {
    padding-left: 14px;
  }

  .template-header-sidebar {
    padding-right: 24px;
  }

  .template-header-logotype {
    width: 128px;

    img {
      margin-bottom: 8px;
    }
  }

  .template-header-phone {
    display: none;
  }

  .template-cookies-text {
    @include flex-item-auto();

    max-width: none;
    padding-right: 0;
    width: 100%;
  }

  .template-cookies-control {
    margin-top: 24px;
    width: 100%;
  }

  .template-footer-content-wrapper {
    padding-bottom: 48px;
  }

  .template-footer-top {
    margin-top: 48px;
  }

  .template-footer-menu {
    margin-top: 32px;
    padding-left: 0;
  }

  .template-footer-menu-item {
    width: 100%;
  }

  .template-footer-partners-items {
    margin: -12px -13px;
  }

  .template-footer-partners-item {
    max-width: 98px;
    padding: 12px 13px;
  }

  .template-footer-policies-items {
    @include flex-orientation(vertical-reverse);
  }

  .template-footer-policies-item {
    width: 100%;
  }

  .template-footer-information,
  .template-footer-menu {
    width: 100%;
  }
}
